body {
  margin: 0;
  --primary: 25, 70, 255;
  --color: 44, 62, 80;
  overflow: hidden;
  background: #f4f7f8;
  color: rgb(var(--color));
  /* rgb(216, 216, 216) */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 100);
}

* {
  font-family: "Poppins", sans-serif;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.avatar img {
  width: 100px;
  border-radius: 30px;
}

.con-user {
  padding: 40px 0px 20px 0px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  border-radius: 0px 0px 25px 25px;
}

.con-user .title {
  text-align: center;
  width: 100%;
}

.con-user .title h1 {
  font-size: 1.1rem;
  padding-top: 4px;
}

.con-user .title p {
  font-size: 0.9rem;
  opacity: 0.6;
  padding-top: 4px;
}

.con-user .title p a {
  color: rgb(var(--text));
}

.con-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  max-width: 500px;
  margin: auto;
  width: 95%;
  position: relative;
  z-index: 10;
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 30px 30px;
}

.con-menu button {
  padding: 12px;
  width: calc(50% - 4px);
  background: transparent;
  font-weight: bold;
  color: rgb(var(--text));
  font-size: 1rem;
  transition: all 0.25s ease;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  border: 0;
  z-index: 2;
  outline: none;
}

.con-menu button.active {
  background: #fff;
  outline: none;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.06);
  color: rgb(var(--primary));
}

.con-contents {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  margin: auto;
  align-items: flex-start;
  justify-content: flex-start;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  flex: 1;
  height: 100%;
  position: relative;
  max-width: 500px;
}

.con-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: auto;
  min-width: 100%;
  scroll-snap-align: center;
  flex: 1;
  overflow: auto;
  padding-top: 20px;
}

.con-links a {
  display: block;
  width: 90%;
  padding: 18px 22px;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(25, 70, 255);
  /* rgb(26, 5, 218) */
  margin-bottom: 16px;
  /* margin-right: 100px; */
  /* margin-left: 100px; */
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 10px 30px 0px rgb(var(--primary), 0.15);
}

.con-links a span {
  text-align: center;
}

.con-links a span p {
  font-size: 0.8rem;
}

.con-links a img {
  max-width: 22px;
  position: absolute;
  left: 20px;
}

.con-links a svg {
  width: 22px;
  fill: #fff;
  position: absolute;
  left: 20px;
}

.con-links a i {
  font-size: 1.6rem;
  position: absolute;
  left: 20px;
}

.con-posts {
  min-width: 100%;
  scroll-snap-align: center;
  overflow: auto;
  padding-bottom: 30px;
  max-width: 500px;
}

.con-posts .post {
  width: calc(100% - 40px);
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  margin: 20px;
  position: relative;
  color: rgb(var(--text));
  border-radius: 30px;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
  margin-top: 20px;
  margin-bottom: 20px;
}

.con-posts .post footer {
  position: absolute;
  bottom: 0px;
  z-index: 10;
  padding: 10px 20px;
}

.con-posts .post footer h3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 6px;
}

.con-posts .post footer h3 i {
  margin-right: 5px;
  font-size: 1.4rem;
}

.con-posts .post footer p {
  opacity: 0.6;
  font-size: 0.9rem;
}

.con-file {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
}

.con-posts .post img {
  width: 445px;
  position: absolute;
  height: 450px;
  border-radius: 30px;
  padding: 10px 10px;
  top: 50%;
  /* left: 0%; */
  transform: translate(0, -50%);
}

.con-posts .post .effect {
  position: absolute;
  bottom: 0px;
  height: 150px;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(0, 0, 0, 0.001) 100%
  );
}
